GUI_Col_1_ABGR = 00808080
GUI_Col_2_ABGR = 0000E7FF
GUI_Col_3_ABGR = 0000FFFF
GUI_Col_4_ABGR = 00FFFFFF
GUI_Col_5_ABGR = 00FF00FF
GUI_Col_6_ABGR = 00FF0000
GUI_Col_7_ABGR = 00000000
GUI_Col_8_ABGR = 00000000
