CNF_version = 3
LK_auto_E1 = 
LK_Circle_E1 = MISC/GERENCIADOR DE ARQUIVOS
LK_Cross_E1 = mass:/APPS/OPL/OPL.ELF
LK_Square_E1 = MISC/Rodar Disco de PS2
LK_Triangle_E1 = MISC/Rede
LK_L1_E1 = 
LK_R1_E1 = 
LK_L2_E1 = 
LK_R2_E1 = 
LK_L3_E1 = 
LK_R3_E1 = 
LK_Start_E1 = MISC/DESLIGAR O CONSOLE
LK_Select_E1 = MISC/CONFIGURAR
Misc = MISC/
Misc_PS2Disc = Rodar Disco de PS2
Misc_FileBrowser = GERENCIADOR DE ARQUIVOS
Misc_PS2Browser = Browser (Bios do PS2)
Misc_PS2Net = Rede
Misc_PS2PowerOff = DESLIGAR O CONSOLE
Misc_HddManager = Gerenciador do HD
Misc_TextEditor = Editor de Textos
Misc_JpgViewer = Visualizador de Jpg
Misc_Configure = CONFIGURAR
Misc_Load_CNFprev = ABA ANTERIOR
Misc_Load_CNFnext = PROXIMA ABA
Misc_Set_CNF_Path = Definir arquivo CNF
Misc_Load_CNF = Carregar CNF
Misc_ShowFont = Mostrar Fonte
Misc_Debug_Info = Debug Info
Misc_About_uLE = About uLE
Misc_OSDSYS = OSDSYS
GUI_Col_1_ABGR = 00000020
GUI_Col_2_ABGR = 00000000
GUI_Col_3_ABGR = 005050C0
GUI_Col_4_ABGR = 00909090
GUI_Col_5_ABGR = 0000C0C0
GUI_Col_6_ABGR = 0000C000
GUI_Col_7_ABGR = 00C0C0C0
GUI_Col_8_ABGR = 00000000
SKIN_FILE = mc0:/BOOT/TEMAS/Skin.JPG
GUI_SKIN_FILE = mc0:/BOOT/TEMAS/GUI Skin.JPG
SKIN_Brightness = 50
TV_mode = 0
Screen_Offset_X = 0
Screen_Offset_Y = 0
Popup_Opaque = 0
Menu_Frame = 1
Show_Menu = 1
LK_auto_Timer = 10
Menu_Hide_Paths = 1
Menu_Pages = 1
GUI_Swap_Keys = 1
USBD_FILE = 
NET_HOSTwrite = 0
Menu_Title = PS2OS Lite
Init_Delay = 0
USBKBD_USED = 1
USBKBD_FILE = 
KBDMAP_FILE = 
Menu_Show_Titles = 1
PathPad_Lock = 0
CNF_Path = 
USBMASS_FILE = 
LANG_FILE = mc0:/BOOT/LINGUAGEM/PT_BR.LNG
FONT_FILE = mc0:/BOOT/FONTE/Marcio.fnt
JpgView_Timer = 5
JpgView_Trans = 2
JpgView_Full = 0
PSU_HugeNames = 0
PSU_DateNames = 0
PSU_NoOverwrite = 0
FB_NoIcons = 0
LK_Circle_Title = Navegador de arqvivos
LK_Cross_Title = Open PS2 Loader
LK_Square_Title = Iniciar DVD|CD
PathPad_Lock = 0
PathPad[00] = mass:/POPS/
PathPad[01] = mass:/APPS/
PathPad[02] = mc0:/BOOT/
